//GNOME Color Palette
$blue_1: #a9c1af;
$blue_2: #94beb1;
$blue_3: #7fbbb3;
$blue_4: #6ea19e;
$blue_5: #5d8688;
$green_1: #c8c5a0;
$green_2: #bdc395;
$green_3: #a7c080;
$green_4: #8ea472;
$green_5: #758864;
$yellow_1: #d7c195;
$yellow_2: #d9bf8a;
$yellow_3: #dbbc7f;
$yellow_4: #b8a070;
$yellow_5: #948461;
$orange_1: #ddaf90;
$orange_2: #e1a482;
$orange_3: #e69875;
$orange_4: #c18269;
$orange_5: #9c6c5d;
$red_1: #dda295;
$red_2: #e1908b;
$red_3: #e67e80;
$red_4: #c26d72;
$red_5: #9d5c64;
$purple_1: #d5b0b0;
$purple_2: #d5a4b3;
$purple_3: #d699b6;
$purple_4: #b4819c;
$purple_5: #936982;
$brown_1: #ddaf90;
$brown_2: #e1a482;
$brown_3: #e69875;
$brown_4: #c18269;
$brown_5: #9c6c5d;
$light_1: #ded4bf;
$light_2: #d3c6aa;
$light_3: #9da9a0;
$light_4: #859289;
$light_5: #7a8478;
$dark_1: #475258;
$dark_2: #3d484d;
$dark_3: #343f44;
$dark_4: #2d353b;
$dark_5: #232a2e;
